body,
html {
  height: 100px;
  margin: 0;
  background:#dfe0e7;
}

#header {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: -webkit-linear-gradient(to right, #576e87, #505982, #4b4d79);
  background: linear-gradient(to right, #576e87, #505982, #4b4d79);
  border-bottom-width: 4px;
  border-bottom: #4b4d79 solid;
}

.user_img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-top: 5px;
  margin-left: 10px;
}

#messages {
  margin-top: 120px;
  list-style-type: none;
}
#form {
  display: flex;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  position: absolute;

}
#input {
  width: 95%;
  height: 50%;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 5px;;
  margin-top: 20px;
 background-color: #4b4d79; 
}

#send {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  align-items: flex-end;
  margin-left: 5px;
  margin-top: 15px;
  margin-right:10px
}

.trashButton {
  background-color: rgb(185, 213, 219);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: -50px;
  top: calc(50%-15px);
}

li {
  color: white;
  width: 50%;
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin-top: 18px;
}

.myMessage {
  background-color: #138151;
}

.otherMessage {
  background-color:  #242764
}
