#header{
background-color: rgb(42, 138, 165);
height: 100px;
width: 100%;
position: absolute;
left:0px;
top:0px;
}

#messages{

    margin-top:120px;
    list-style-type:none;

}
#form {
  display: flex;
  bottom: 0px;  
  left: 0px;
  width: 100%;
  height: 50px;
  position:absolute;
}
#input{
    width:95%;
    height:100%;
    border-radius:20px;
    margin: 0px;
}
#send{
height: 60px;
width: 60px;
border-radius:50%;
border: none;
outline: none;
margin-left: 5px;
align-items: flex-end;
}

